<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".Koin5Retrofit.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kotlin_DI3KoinExample"
        tools:targetApi="31" >

        <activity
            android:name=".Koin5Retrofit.presentation.ui.HiltActivity5"
            android:exported="false" />
        <activity
            android:name=".Koin4ViewModel.step3.HiltActivity4Step3"
            android:exported="false" />
        <activity
            android:name=".Koin4ViewModel.step2.HiltActivity4Step2"
            android:exported="false" />
        <activity
            android:name=".Koin3Room.presentation.HiltActivity3"
            android:exported="false" />
        <activity
            android:name=".Koin2Simple.step2.HiltActivity2Step2"
            android:exported="false" />
        <activity
            android:name=".Koin2Simple.step1.HiltActivity2Step1"
            android:exported="false" />
        <activity
            android:name=".Koin2Simple.HiltActivity2"
            android:exported="false" />
        <activity
            android:name=".Koin1.HiltActivity1"
            android:exported="false" />
        <activity
            android:name=".Koin1.step2.presentation.HiltActivity1Step2"
            android:exported="false" />
        <activity
            android:name=".Koin1.step1.presentation.HiltActivity1Step1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>