<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".Hilt3.step3.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kotlin_DI3KoinExample"
        tools:targetApi="31">
        <activity
            android:name=".Hilt3.step3.HiltActivity3Step3"
            android:exported="false" />
        <activity
            android:name=".Hilt3.step2.HiltActivity3Step2"
            android:exported="false" />
        <activity
            android:name=".Hilt2.presentation.HiltActivity2"
            android:exported="false" />
        <activity
            android:name=".Hilt1.HiltActivity1"
            android:exported="false" />
        <activity
            android:name=".Hilt1.step2.presentation.HiltActivity1Step2"
            android:exported="false" />
        <activity
            android:name=".Hilt1.step1.presentation.HiltActivity1Step1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>